/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --main-font-family: 'Montserrat', 'Arial', -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Literata SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif;
    --heading-font-family: 'Cormorant Infant', 'Kaiti SC', -apple-system, 'Nimbus Roman No9 L', 'PingFang SC', 'Hiragino Sans GB', 'Literata SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', serif;
} */

/* .navbar {
  font-size: 18px;
} */
/* .page-body {
  font-size: 1rem;
} */

@media screen and (min-width: 766px) {
.resume-biography {
    margin-bottom: 160px
}
}

@media (min-width: 1024px) {
  .lg\:prose-xl {
      font-size: 1rem;
      line-height: 1.6;
  }
}

.px-6 {
  padding-left: 0rem;
  padding-right: 0rem;
}
 
.max-w-prose {
  max-width: 80ch;
}