/* Used to display background image */
.home .background {
    transform: scale(1.0);
    filter: blur(0px);
    /*
    transform: scale(1.1);
    filter: blur(3px);
    */
}

.btn-info {
  border: none;
}
